/*navbar CSS*/
.navbar
{
	overflow: hidden;
	background-color: rgb(125, 0, 0);
	line-height: 100px;
	top: 0;
	width: 100%;
}
.navbar a
{
	float: left;
	font-size: 18px;
	color: rgb(255, 255, 150);
	text-decoration: none;
	padding: 3px 36px;
}
.navbar a:hover
{
	color:rgb(125, 0, 0);
	background-color: rgb(255, 255, 150);
}

/*CSS for the rest of the content*/
body
{
	font-family: "Times New Roman", serif;
	background-color: rgba(240, 240, 175, 0.5);
}

p, ol, a
{
    color: rgb(100, 0, 0);
	background-color: rgba(240, 240, 175, 0.2);
}

h1, h2, h3, h4, h5, h6
{
    color: rgb(125, 0, 0);
	background-color: rgba(240, 240, 175, 0.5);
	text-align: center;
	border: 2px;
	border-style: solid;
	border-color:rgb(240, 240, 156);
}

p 
{
	font-size: 20px;
}
h1 
{
	font-size: 40px;
	color: rgb(125, 0, 0);
	font-weight: 1000;
}

h2
{
	font-size: 30px;
}

h3
{
	font-size: 26px;
}

h4
{
	font-size: 22px;
}

h2, h3, h4, h5, h6
{
    color: rgb(100, 0, 0);
    
}

ol
{
	font-size: 20px;
	color:rgb(100, 0, 0);
	border: 1px;
	border-style: solid;
	border-color:rgba(240, 240, 156, 0.2);
}

a 
{
    color: rgb(100, 0, 0);
}

table
{
	border: 2px solid;
}
tr
{
	border: 2px solid;
}

img
{
	width: 369px;
	height: 275px;
}
th
{
	font-size: 24px;
}

td
{
	border: 1px;
	border-style: solid;
}

.heading
{
	border: none;
	text-align: center;
	font-size: 24px;
	font-weight: 900;
}

.no-border
{
	border: none;
}

#return-to-top
{
	margin-top: 5%;
}

 /*Specific image dimensions */
.center-image
{
	display: block;
	width: 25%;
	height: 25%;
	margin-left: auto;
	margin-right: auto;
}
.center
{
	text-align: center;
}

#pegasus-image
{
	width: 100%;
	height: 75%;
}

#extra-margins
{
	margin-left: 35%;
	margin-right: 35%;
}